[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.*"
cx-oracle = "==8.*"
djangorestframework = "*"
django-filter = "*"
mysqlclient = "==1.3.14"
redis = "==2.10.*"
django-redis = "==4.10.*"
whitenoise = "==4.1.*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
